body {
  background: #555;
}

.form {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}

.loading {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}
